*{
    margin: 0;
    padding: 0;
}
    header,
    nav,
    section,
    article,
    aside,
    footer {
        margin: auto;
        text-align: center;
        max-width: 95%;
        border-radius: 0.5em;
    }

    header {
        background-color: #FF0000;
    }

    nav {
        background-color: mintcream
    }

    .contenedor {
        background-color: darkslategray;
    }

    .principal {
        background-color: aquamarine;
        display: inline-block;
        width: 68%;
        vertical-align: top;
    }

    article {
        background-color: darkgoldenrod
    }

    aside {
        background-color: rgb(55, 76, 146);
        display: inline-block;
        width: 28%;
        vertical-align: top;
    }

    footer {
        background-color: rgb(192, 174, 174)
    }
